body, html {
    height: 100%;
    margin: 0;
    font-family: 'Courier Prime', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    user-select: none;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11110;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.centered-content {
    position: relative;
    z-index: 3;
    text-align: center;
    color: white;
}

.h1 {
    color: white;
    text-align: center;
    z-index: 3;
    top: 0;
    font-size: 3.5em;
    margin-bottom: 0.5em;
}

.text-blue {
    color: #007BFF;
}

.btn-blue-outline {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    transition: all 0.3s;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #3b82f6;
    background-color: transparent;
    border: 2px solid #3b82f6;
}

.btn-blue-outline:hover {
    color: white;
    background-color: #3b82f6;
}
.legit {
    font-family: 'Courier Prime', monospace;
    color: #15de15;
    font-size: 2.5em;
}

.phishing {
    font-family: 'Courier Prime', monospace;
    color: #670000;
    font-size: 2.5em;
}

.url{
    font-size: 1.5em;
}
.text-url{
    font-size: 1.5em;
}